.form-group {
    display: inline-flex;
    flex-direction: column;

    &__label {
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: var(--grey-3);

        margin-bottom: 5px;
    }

    &__input {
        position: relative;

        display: inline-flex;
    }

    &__field {
        width: 100%;
        padding: 13px 48px 13px 24px;
        background: var(--white);

        border: 1px solid var(--grey-2);
        border-radius: 8px;
        box-sizing: border-box;

        font-size: 20px;
        line-height: 26px;
        color: var(--grey-4);
        outline: none;

        transition: 
            all 200ms ease-in-out;
    }

    &__field::placeholder {
        color: var(--grey-2);
    }

    &__field:focus,
    &__field:active {
        border-color: var(--blue);
        box-shadow: 0px 1px 1px rgba(51, 154, 240, .1);
    }

    &__icon {
        content: "";
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);

        width: 24px;
        height: 24px;
        font-size: 24px;
    }

    &__field_error,
    &__field_error:focus,
    &__field_error:active {
        border: 1px solid var(--error);
        box-shadow: 0px 1px 1px rgba(240, 61, 62, .1);
    }

    &__field_success,
    &__field_success:focus,
    &__field_success:active {
        border: 1px solid var(--blue);
        box-shadow: 0px 1px 1px rgba(51, 154, 240, .1);
    }

    &__field_disabled,
    &__field_disabled:focus,
    &__field_disabled:active {
        background-color: var(--grey-2);
        border: none;
        box-shadow: none;

        cursor: not-allowed;
    }
}