.skeleton {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
    background: var(--white);

    box-sizing: border-box;
    border: 1px solid var(--grey-3);
    border-radius: 8px;

    .skeleton__header {
        display: flex;

        padding: 24px 40px 0 24px;
    }

    .skeleton__body {
        display: flex;
        flex-direction: column;
        gap: 8px;

        padding: 0 40px 32px 24px; 
    }

    .skeleton__circle {
        width: 64px;
        height: 64px;
        background: var(--grey-2);


        border-radius: 50%;
    }

    .skeleton__title {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 50%;

        padding-left: 16px;
    }

    .skeleton__line {
        width: 50%;
        height: 20px;

        background: 
            linear-gradient(92.51deg, 
                #DDE2E5 6.44%, 
                #E2E6E8 38.47%, 
                #F3F5F5 56.48%, 
                #E3E7EA 77.5%, 
                #DDE2E5 102.52%);
    }
    .skeleton__line_wide {
        width: 70%;
    }
    .skeleton__line_full {
        width: 100%;
    } 
}