.tooltip {
    position: relative;
    display: inline-block;

    &__icon {
        width: 24px;
        height: 24px;
        fill: var(--black);

        cursor: pointer;
    }

    &__bubble {
        position: absolute;
        display: none;
        left: 50%;
        bottom: 100%;
        
        width: max-content;
        max-width: 130px;

        padding: 13px 21px;
        margin-bottom: 8px;

        background-color: var(--blue);
        box-shadow: 0px 2px 4px rgba(33, 36, 41, .05);
        border-radius: 10px;

        transform: translate(-50%, 0);
    }

    &__text {
        margin: 0;
        
        text-align: center;
        color: var(--grey-2);
    }

    &__bubble::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 1px;

        border: 7px solid transparent;
        border-top: 6px solid var(--blue);
        border-bottom: 0;

        transform: translate(-50%, 100%);
    }

    &__icon:hover ~ &__bubble {
        display: block;
    }
}