<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Skeleton</title>
        
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./skeleton.css">
    </head>
    <body>
        <main class="page">
            <div class="page__container">
                <div class="skeleton">
                    <div class="skeleton__header">
                        <div class="skeleton__circle"></div>
                        <div class="skeleton__title">
                            <div class="skeleton__line"></div>
                            <div class="skeleton__line skeleton__line_wide"></div>
                        </div>
                    </div>
                    <div class="skeleton__body">
                        <div class="skeleton__line skeleton__line_full"></div>
                        <div class="skeleton__line skeleton__line_full"></div>
                    </div>
                </div>
            </div>
        </main>
</body>
</html>
