<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Avatar</title>

        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./avatar.css">
    </head>
    <body>
        <main class="page">
            <div class="page__container">
                <div class="avatar">
                    <img class="avatar__image" 
                        srcset="public/avatar-100.jpg 1x, 
                                public/avatar-200.jpg 2x"
                        src="public/avatar-200.jpg"
                        alt="Profile Avatar">
                </div>
            </div>
        </main>
    </body>
</html>
