<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tooltip</title>
        
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./tooltip.css">
    </head>
    <body>
        <main class="page">
            <div class="page__container">
                <div class="tooltip" style="margin: 100px auto;"><!-- Demo margin -->
                    <div class="tooltip__icon">
                        <svg class="icon-svg" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/assets/images/icons-sprite.svg#help"></use>
                        </svg>
                    </div>
                    <div class="tooltip__bubble">
                        <p class="tooltip__text">Lorem ipsum dolor sit amet.</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>