<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Accordion</title>

        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./accordion.css">
    </head>
    <body>
        <main class="page">
            <div class="page__container">
                <div class="accordion">
                    <details class="accordion__item" open>
                        <summary class="accordion__summary">
                            Accordion item 1
                            <svg class="icon-svg accordion__summary-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <use xlink:href="/assets/images/icons-sprite.svg#mark"></use>
                            </svg>
                        </summary>
                        <p class="accordion__description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. 
                            Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </details>

                    <details class="accordion__item">
                        <summary class="accordion__summary">
                            Accordion item 2
                            <svg class="icon-svg accordion__summary-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <use xlink:href="/assets/images/icons-sprite.svg#mark"></use>
                            </svg>
                        </summary>
                        <p class="accordion__description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. 
                            Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </details>

                    <details class="accordion__item">
                        <summary class="accordion__summary">
                            Accordion item 3
                            <svg class="icon-svg accordion__summary-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="currentColor">
                                <use xlink:href="/assets/images/icons-sprite.svg#mark"></use>
                            </svg>
                        </summary>
                        <p class="accordion__description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                            Velit officia consequat duis enim velit mollit. 
                            Exercitation veniam consequat sunt nostrud amet.
                        </p>
                    </details>
                </div>
            </div>
        </main>
    </body>
</html>
