<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./radio.css">
    </head>
    <body>
        <main class="page">
            <div class="page__container">
                <div style="margin: 10px auto;">
                    <label class="radio">
                        <input type="radio" class="radio__input" name="demo-radio" />
                        <div class="radio__state">
                            <div class="radio__control"></div>
                            <span class="radio__label">
                                Default
                            </span>
                        </div>
                    </label>
                </div>
                <div style="margin: 10px auto;">
                    <label class="radio">
                        <input type="radio" class="radio__input" name="demo-radio" checked />
                        <div class="radio__state">
                            <div class="radio__control"></div>
                            <span class="radio__label">
                                Selected
                            </span>
                        </div>
                    </label>
                </div>
                <div style="margin: 10px auto;">
                    <label class="radio">
                        <input type="radio" class="radio__input" name="demo-radio" disabled />
                        <div class="radio__state">
                            <div class="radio__control"></div>
                            <span class="radio__label">
                                Disabled
                            </span>
                        </div>
                    </label>
                </div>
            </div>
        </main>
    </body>
</html>
