.page {
    min-height: 100%;
    background-color: var(--white);
    color: var(--black);

    .container {
        width: 100%;
        max-width: 1110px;
        margin: 0 auto;
        padding: 0 16px;
    }

    @media (min-width: 1110px) {
        .container {
            padding: 0;
        }
    }
}