.footer {
    padding: 2rem 0;
    text-align: center;

    &__title {
        margin: 0;
        margin-bottom: 32px;
    }

    &__description {
        margin: 0;
        padding: 0 10px;
        line-height: 1.5rem;
    }
}

@media (min-width: 768px) {
    .footer {
        padding: 4rem 0;
    }
}